.link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 185%;
  text-transform: capitalize;
  color: var(--color-primary);

  display: flex;
  align-items: center;
  gap: 1.8rem;

  svg {
    padding-top: 2px;
    stroke: var(--color-primary);
  }
}
