.nav {
  display: flex;
  gap: 6.4rem;
}

.link {
  font-family: "Gilroy-Medium";
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--white);
  height: 2.2rem;
}

.linkGroup {
  display: flex;
  gap: 0.8rem;
  align-items: center;

  svg {
    fill: var(--white);
  }
}
