.nav {
  display: flex;
  gap: 6.4rem;

  a {
    color: var(--white);
  }

  @include screenSm {
    display: none;
  }
}

.link {
  font-family: var(--font-family);
  font-size: 1.8rem;
  font-weight: 500;
  height: 3.2rem;
}

.linkGroup {
  position: relative;
  cursor: pointer;
  margin-left: -1.8rem;

  .group {
    display: flex;
    align-items: start;
    gap: 0.8rem;
  }

  svg {
    fill: var(--white);
    margin-top: 0.3rem;
  }
}

.submenu {
  width: max-content;
  position: absolute;
  top: 2.8rem;
  left: 0rem;
  padding: 0.8rem 6.2rem 0.8rem 1.6rem;
  border-top: unset;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  cursor: auto;
  background: rgba(255, 255, 255, 0.15);
  border: 0.86px solid rgba(255, 255, 255, 0.3);

  transition: transform 0.1s ease-in-out;
  transition: opacity 0.2s ease-in-out;

  a {
    display: block;
  }
  a:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}

.submenuOpen {
  opacity: 1;
  transform: translateY(0);
}

.submenuClose {
  opacity: 0;
  transform: translateY(-1000px);
}
