.bestsellers {
  margin-top: 12rem;
  padding-block: 5rem;
  background-color: var(--color-secondary-neutral-01);

  display: flex;
  flex-direction: column;
  align-items: center;

  @include screenXSm {
    margin-top: 6rem;
  }

  @include screenXXSm {
    :global(.h2) {
      text-align: center;
    }
  }
}

.sliderBlock {
  margin-top: 8rem;
  margin-bottom: 6rem;

  .slider {
    width: min(120rem, 100vw - 8rem);
    position: relative;

    .sliderContainer {
      overflow: hidden;

      transition: all 0.3s ease-in;

      animation-duration: 0.3s;
      animation-name: showIn;

      .slides {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
          display: none; /* for Chrome, Safari and Opera */
        }

        display: flex;
        align-items: center;
        gap: 4rem;
      }
    }

    .btn {
      position: absolute;
      top: 50%;
      z-index: 10;

      svg {
        stroke: var(--color-secondary);
      }

      button {
        width: 5rem;
        height: 5rem;
        background-color: var(--white);
      }
    }

    .btnLeft {
      left: 0;
      transform: translate(-50%, -50%);
    }

    .btnRight {
      right: 0;
      transform: translate(50%, -50%);
    }
  }

  .noProducts {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 160%;
    text-align: center;
    height: 49.1rem;

    display: flex;
    align-items: center;
  }
}

@keyframes showIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
