.value {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24rem;
}

.blockImg {
  img {
    max-width: 100%;
    object-fit: cover;
    border-radius: inherit;
    position: absolute;
    z-index: 10;
  }

  .shadow {
    opacity: 50%;
    filter: blur(20px);
    position: absolute;
    z-index: 9;
  }

  .imgLeft {
    width: 72.8rem;
    height: 54.1rem;
    position: relative;
    margin-left: -6.5rem;

    .img1 {
      width: 62.9rem;
      height: 44.5rem;
      border-radius: 2rem;
      position: absolute;
      top: 6.6rem;
      left: 3.8rem;

      .shadow {
        width: 50rem;
        height: 38rem;
        border-radius: 4.9rem;
        bottom: -4rem;
        left: 6rem;
      }
    }

    .rect1 {
      width: 49.5rem;
      height: 42.2rem;
      border-radius: 2rem;
      background: var(--color-secondary-neutral-01);
      position: absolute;
      top: 0rem;
      left: 0rem;
      z-index: 9;
    }

    .rect2 {
      width: 49.5rem;
      height: 30.1rem;
      border-radius: 2rem;
      background: var(--color-secondary-neutral-01);
      position: absolute;
      top: 13.8rem;
      right: 0rem;
      z-index: 9;
    }
  }

  .imgRight {
    width: 93.2rem;
    height: 61.4rem;
    position: relative;
    margin-right: -22.2rem;

    .img1 {
      width: 22.3rem;
      height: 22.9rem;
      border-radius: 1.4rem;
      position: absolute;
      top: 0rem;
      left: 0rem;

      .shadow {
        width: 17.6rem;
        height: 18.3rem;
        border-radius: 2.9rem;
        bottom: -2.1rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .img2 {
      width: 22.3rem;
      height: 31.7rem;
      border-radius: 1.4rem;
      position: absolute;
      bottom: 2.1rem;
      left: 0rem;

      .shadow {
        width: rem;
        height: 30.1rem;
        border-radius: 2.9rem;
        bottom: -2.1rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .img3 {
      width: 62.9rem;
      height: 44.5rem;
      border-radius: 2rem;
      position: absolute;
      bottom: 3rem;
      right: 3.8rem;

      .shadow {
        width: 50rem;
        height: 38rem;
        border-radius: 4.9rem;
        bottom: -2.1rem;
        left: 2.7rem;
      }

      .rectangle {
        border-radius: 2rem;
        width: 49.5rem;
        height: 42.2rem;
        background: var(--color-secondary-neutral-01);
        position: absolute;
        left: 17.2rem;
        top: -6.6rem;
        z-index: 8;
      }
    }
  }
}

.blockText {
  max-width: 55.6rem;
  margin-left: 8rem;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    max-width: 41.3rem;
  }

  .text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 185%;
    color: var(--color-secondary);
    opacity: 0.8;
  }

  *:last-child {
    margin-top: 0.4rem;
  }

  &Left {
    margin-top: 8.3rem;
  }

  &Right {
    margin-top: 12.4rem;
  }
}
